<ul class="pager">
{% if pager.pages > 1 %}
  {% set pages = pager.iter_pages() %}
  {% if pager.prev_page %}
  <li><a href="{{ pager.url_for(pager.prev_page ) }}"><span class="icon icon-prev"></span></a></li>
  {% endif %}
  {% for page in pages%}
	{% if page %}
    <li {% if page == pager.current_page %}class="current"{% endif %}><a href="{{pager.url_for(page)}}">{{ page }}</a></li>
	{% else %}
	<li>...</li>
	{% endif %}
  {% endfor %}
  {% if pager.next_page %}
  <li><a href="{{ pager.url_for(pager.next_page) }}"><span class="icon icon-next"></span></a></li>
  {% endif %}
{% endif %}
</ul>
